/* For use in src/lib/core/theming/_palette.scss */
$md-portfolioprimary: (
    50 : #e8e5ee,
    100 : #c7bdd4,
    200 : #a191b8,
    300 : #7b659c,
    400 : #5f4486,
    500 : #432371,
    600 : #3d1f69,
    700 : #341a5e,
    800 : #2c1554,
    900 : #1e0c42,
    A100 : #a07aff,
    A200 : #7b47ff,
    A400 : #5714ff,
    A700 : #4700fa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-portfolioaccent: (
    50 : #eee9ee,
    100 : #d4c8d5,
    200 : #b8a3ba,
    300 : #9c7e9e,
    400 : #866289,
    500 : #714674,
    600 : #693f6c,
    700 : #5e3761,
    800 : #542f57,
    900 : #422044,
    A100 : #f889ff,
    A200 : #f556ff,
    A400 : #f223ff,
    A700 : #f009ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

