.landing-container {

    .my-bitmoji {
        background-image: url('/assets/imgs/bg-me.png');
        min-height: calc(100vh - 64px);
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-right: 64px;

        .text {
            font-size: 2.4rem;
            font-weight: 600;
            position: absolute;
            top: 30%;
            left: 8%;
        }
    }
}